{% extends "base.html" %}
{% block title %}הוספת מבצע חדש{% endblock %}

{% block content %}
<div class="form-wrapper background-katalog">
  <div class="form-container">
    <h2 class="form-title">הוספת מבצע חדש</h2>

    <form method="post" enctype="multipart/form-data" class="product-form">

      <label for="name">שם המוצר:</label>
      <input type="text" id="name" name="name" required>

      <label for="original_price">מחיר מקורי:</label>
      <input type="number" id="original_price" name="original_price" step="0.01" required>

      <label for="discounted_price">מחיר מבצע:</label>
      <input type="number" id="discounted_price" name="discounted_price" step="0.01" required>

      <label for="description">תיאור:</label>
      <textarea id="description" name="description"></textarea>

      <label for="image_file">בחר תמונה מהמחשב:</label>
      <input type="file" id="image_file" name="image_file" accept="image/*">

      <label for="image_url">או הדבק קישור לתמונה:</label>
      <input type="url" id="image_url" name="image_url">

      <button type="submit" class="btn submit-btn">שמור מבצע</button>
    </form>
  </div>
</div>
{% endblock %}
